
.nav-link {
    color: green !important;
    font-size: 1.3em;
    font-weight: 400em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    text-decoration: none;
}
.nav-link:hover {
    color: white !important;
    text-decoration: none;
    list-style-type: none;
}
.nav-item {
    margin-right: 0.3em;
    padding-top: 10px;
    margin-top: 10px;
}

li{
    list-style-type: none;
}
